# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 03c20ffa2fbec78a20856e29c5b18406e851eb9571ba954070680fc84bc099145271541745af278f4edcd3fef8a2a218762bb5879a15eb678af088c01170d25d

test:
  secret_key_base: 25022938e7c9672f7855a71e7d0e9220ebba4a9941ed96c9f3d85a414b41c8cee97a445a54b7bef3f51c1a9639d48f8f377f7b3d26e9b88d5b902b84ab25ff3a

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
